.ContactForm_container {
  form {
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
    }
    .row1,
    .row2,
    .row3,
    .row4,
    .row5,
    .row6 {
      gap: 20px;
      display: flex;
      input,
      select,
      textarea {
        border: 1px solid #000;
        border-radius: 0;
        padding: 12px;
        width: 100%;
        background: white;
        font-size: 16px;
        line-height: 1.4em;
      }
    }
    .row3 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    textarea {
      min-height: 200px;
    }
    button {
      border: 0;
      // width: 100%;
      height: 43px;
      cursor: pointer;
      padding: 0 20px;
      font-size: 14px;
      font-weight: 400;
      align-items: center;
      letter-spacing: 1.2px;
      justify-content: center;
      transition: all 0.2s ease;
      text-transform: uppercase;
      color: var(--ui-neutrals-white);
      background: var(--ui-neutrals-black);
    }
  }
}

@media (min-width: 1025px) {
  .ContactForm_container {
    form {
      .row1 {
        input {
          min-width: 316px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .ContactForm_container {
    form {
      flex-direction: column;
      .row1 {
        padding: 0 20px;
        flex-direction: column;
      }
    }
  }
}
