.list--footer {
  &-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    .infoCardContainer {
      padding: 0;
      background: none;
      .infoCardImageContainer {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .infoCardTextContainer {
        padding: 0;
        width: max-content !important;
      }
    }
  }
  &-social {
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    .imageElement--footer-social {
      max-width: 31px;
      width: max-content;
    }
  }
  &-info-icons {
    gap: 10px;
    flex-wrap: wrap;
    .imageElement {
      max-width: 42px;
    }
  }
}
