.minicart-form {
  padding: 20px;
  transition: 0.3s;

  .row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &.cep-container {
      gap: 10px;
    }

    &.sub-total {
      padding: 8px 0 4px;
    }

    &.item {
      padding: 0 0 4px;
    }

    &.total {
      padding: 4px 0 8px;
    }
  }

  .col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }

  p,
  label {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-variant: lining-nums;
    min-width: 45px;
  }

  .total {
    p {
      font-weight: 500;
    }
  }

  .input {
    .input_container {
      gap: 10px;
      display: flex;
      align-items: center;
      @media (max-width: 1024px) {
        gap: 0;
        justify-content: space-between;
        max-width: 83%;
      }
      input {
        margin: 0;
        height: 40px;
        border: none;
        outline: unset;
        padding: 0 11px;
        max-width: 180px;
        font-weight: 400;
        border-radius: 0;
        border-right: unset;
        line-height: 1.125rem;
        letter-spacing: 0.7px;
        box-sizing: border-box;
        background-color: #fffefc;
        border-bottom: 1px solid #000;
        @media (max-width: 1024px) {
          max-width: 60%;
        }
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          color: red;
        }

        &::placeholder {
          color: red;
        }
      }

      button {
        background: none;
        border: 1px solid #000;
        border-radius: 2px;
        height: 40px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  .minicart-form-inputs {
    transition: 0.3s;
  }
}
