.newsletter_container {
  form {
    gap: 20px;
    width: 100%;
    display: flex;
    .line1 {
      gap: 20px;
      display: flex;
      input {
        border: 0;
        padding: 12px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.2px;
        border-bottom: 1px solid var(--ui-neutrals-black);
      }
    }
    button {
      border: 0;
      width: 100%;
      height: 43px;
      cursor: pointer;
      padding: 0 20px;
      font-size: 14px;
      font-weight: 400;
      align-items: center;
      letter-spacing: 1.2px;
      justify-content: center;
      transition: all 0.2s ease;
      text-transform: uppercase;
      color: var(--ui-neutrals-white);
      background: var(--ui-neutrals-black);
    }
  }
}

@media (min-width: 1025px) {
  .newsletter_container {
    form {
      .line1 {
        input {
          min-width: 316px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .newsletter_container {
    form {
      flex-direction: column;
      .line1 {
        padding: 0 20px;
        flex-direction: column;
      }
    }
  }
}
