.OurStores_container {
  gap: 30px;
  display: flex;
  margin: 30px auto;
  max-width: 1200px;
  flex-direction: column;
  .OurStores_content {
    display: flex;
    @media (max-width: 1024px) {
      gap: 15px;
      flex-direction: column;
    }
    .OurStores_img_container {
      img {
        height: auto;
        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }
    .OurStores_text_container {
      display: flex;
      padding: 0 20px;
      flex-direction: column;
      .OurStores_text {
        display: flex;
        flex-direction: row;
        h2 {
          font-size: 20px;
          color: #111111;
          text-align: left;
          font-weight: 300;
          margin: 0 0 15px 0;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        p {
          font-size: 13px;
          font-weight: 300;
          line-height: 24px;
          margin: 0 0 8px 0;
          letter-spacing: 1px;
          .OurStores_text_brand_secondary {
            color: var(--brand-secondary);
          }
        }
        .OurStores_text_check_stores {
          gap: 15px;
          display: flex;
          flex-direction: row;
          span::before {
            content: '';
            width: 14px;
            height: 11px;
            margin: 0 12px 0 0;
            display: inline-block;
            background-image: url(https://onlauri.vteximg.com.br/arquivos/onlauri-sprite-86662df715fc6b42c8c264acab373597.png);
            background-position: -600px -59px;
          }
        }
      }
      .OurStores_cta_container {
        margin-top: 10px;
        .OurStores_cta {
          font-size: 16px;
          color: #a58076;
          font-weight: 400;
          padding: 5px 20px;
          text-decoration: none;
          border: 2px solid #a58076;
        }
      }
    }
  }
}
