.list {
  &--row {
    display: flex;
    flex-direction: row;
    .infoCardContainer {
      padding: 0;
      background: none;
      .infoCardImageContainer {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .infoCardTextContainer {
        padding: 0;
        .infoCardCallActionContainer,
        .infoCardCallActionText {
          margin: 0;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    overflow: auto;
    padding-bottom: 20px;
  }
}

.list {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb {
    height: 2px;
    border-radius: 2px;
    background: var(--brand-primary);
  }
  ::-webkit-scrollbar-track {
    background: var(--ui-neutrals-050);
  }
}
