.paginationDotsContainer {
  gap: 5px;
  .paginationDot {
    all: unset;
    transition: 0.3s;
    border-radius: 5px;
    width: 5px !important;
    height: 5px !important;
    background-color: var(--brand-secondary-lighest);
    &--isActive {
      width: 40px !important;
      background-color: var(--brand-secondary);
    }
  }
}

.sliderLayoutContainer--banner-default {
  padding-bottom: 20px;
  .sliderArrows {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(236, 102, 89, 0.45098039215686275) !important;
    .caretIcon {
      width: 23px;
      height: 23px;
      color: var(--brand-secondary-lighest);
    }
  }
  .sliderLeftArrow {
    left: 18px;
  }
  .sliderRightArrow {
    right: 18px;
  }
  .paginationDotsContainer {
    gap: 5px;
    .paginationDot {
      all: unset;
      transition: 0.3s;
      border-radius: 5px;
      width: 5px !important;
      height: 5px !important;
      background-color: var(--brand-secondary-lighest);
      &--isActive {
        width: 105px !important;
        background-color: var(--brand-secondary);
      }
    }
  }
}
