.zoomContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomed {
  background-repeat: no-repeat;
  background-size: 200%;
  cursor: zoom-out;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.mediaContainer {
  max-height: 778px;
  overflow: hidden;
}
