@forward './default/vtex.store-components';
@forward './header/vtex.store-components';
@forward './home/vtex.store-components';
@forward './pdp/vtex.store-components';
@forward './search/vtex.store-components';
@forward './institucional/vtex.store-components';
