@forward './default/vtex.flex-layout';
@forward './header/vtex.flex-layout';
@forward './footer/vtex.flex-layout';
@forward './home/vtex.flex-layout';
@forward './search/vtex.flex-layout';
@forward './pdp/vtex.flex-layout';
@forward './institucional/vtex.flex-layout';
