.sliderLayoutContainer--home {
  &-navegar-categorias {
    @media (max-width: 1024px) {
      margin-top: 10px;
    }
    .infoCardContainer {
      padding: 0;
      display: flex;
      background: none;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      .infoCardImageContainer {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        .infoCardImage {
          border-radius: 50%;
          @media (min-width: 1025px) {
            width: 100px;
            height: 100px;
          }
          @media (max-width: 1024px) {
            width: 71px;
            height: 71px;
          }
        }
      }
      .infoCardTextContainer {
        padding: 0;
        width: 100% !important;
        @media (max-width: 1024px) {
          min-height: 28px;
          text-align: center;
        }
        .infoCardHeadline,
        .infoCardSubhead,
        .infoCardCallActionContainer,
        .infoCardCallActionText {
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;
        }
      }
    }
  }
  &-destaques {
    padding-left: 20px;
  }
}
