.list {
  &--home {
    &-benefits {
      display: flex;
      align-items: center;
      @media (min-width: 1025px) {
        gap: 75px;
        justify-content: center;
      }
      @media (max-width: 1024px) {
        gap: 30px;
        justify-content: flex-start;
      }
      .infoCardContainer {
        gap: 10px;
        padding: 0;
        display: flex;
        background: none;
        flex-direction: row-reverse;
        .infoCardImageContainer {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: max-content !important;
        }
        .infoCardTextContainer {
          padding: 0;
          width: max-content !important;
          .infoCardHeadline {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
            line-height: 21px;
            color: var(--brand-secondary);
          }
          .infoCardSubhead,
          .infoCardBodyText {
            margin: 0;
            font-size: 12px;
            font-weight: 600;
          }
          .infoCardCallActionContainer,
          .infoCardCallActionText {
            margin: 0;
          }
        }
      }
    }
  }
}
